@page
@model MusicLab.Frontend.Pages.AlbumModel
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Album";
}
<div class="margin-top"></div>
<div class="main-container">
    <div class="row list mb-5 position-relative">
        <img src="@Model.Album.Artist.CoverImage" class="img-cover rounded-top" />
        
        <div class="position-absolute top-50 start-50 translate-middle d-flex" style="padding: 70px 0 0 70px;">
            <img src="@Model.Album.Image" class="album-cover rounded d-inline-flex" />
            <div class="d-flex flex-column">
                <span class="fs-6 text-white">Album</span>
                <h1 class="text-white fw-bold font-monospace" style="font-size:120px;">@Model.Album.Title</h1>
                <span class="fs-4 text-white">@Model.Album.Artist.Name 
                    <i class="fa-solid fa-circle align-content-center" style="font-size: 5px;"></i> 
                    2023
                    <i class="fa-solid fa-circle align-content-center" style="font-size: 5px;"></i> 
                    
                </span>
            </div>
        </div>
    </div>
    <div class="mb-5 d-flex">
        <div class="btn-play-artist d-inline-flex" id="@Model.Album.Id">
            <button class="play-music-album-btn d-flex justify-content-center align-items-center">
                <i class="fas fa-play fs-4"></i>
            </button>
        </div>
        <div class="btn-follow-artist d-inline-flex ms-5">
            <button class="d-flex justify-content-center align-items-center my-auto w-100 h-50 btn btn-outline-light rounded-pill">
                <span class="fw-medium">Follow</span>
            </button>
        </div>
    </div>
    <div class="row list mb-5">
        <div class="col-12">
            <h2 class="title mb-3">Songs</h2>
            @foreach (var item in Model.Songs)
            {
                <div class="search-song-hover d-flex p-2" id="@item.Id">
                    <div class="play-music-btn-artist search-btnPlay position-relative">
                        <img src="@item.Image" class="searched-song d-inline my-auto rounded">
                        <div class="search-btnPlay-song position-absolute top-50 start-50 translate-middle">
                            <i class="fa-solid fa-play text-white"></i>
                        </div>
                    </div>
                    <div class="d-inline-block ms-4 text-white-50">
                        <b class="fs-5 text-white">@item.Title</b><br />
                        <span>
                            @foreach (var artist in item.SongArtists)
                            {
                                if (artist.ArtistId != item.SongArtists.LastOrDefault().ArtistId)
                                {
                                    artist.Artist.Name += ", ";
                                }
                                @artist.Artist.Name
                            }
                        </span>
                    </div>
                    <span class="search-favorite ms-auto me-5 align-content-center text-white-50">
                        <span style="margin-right:300px;"> @string.Format("{0:0,0,0}", @item.NumberOfListen)</span>
                        <i class="search-favorite-song fa-regular fa-heart me-5"></i>
                        @item.Duration
                    </span>
                </div>
            }
        </div>
    </div>

    @if (Model.ListAlbums?.Any() == true)
    {
        <div class="row list mb-5">
            <h2 class="title mb-3">Other Album of @Model.Album.Artist.Name</h2>
            @foreach (var item in Model.ListAlbums)
            {
                if (item.Id != Model.Album.Id)
                {
                    <div class="col-12 col-md-3 col-lg-2">
                        <div class="card">
                            <a href="/Album?albumId=@item.Id" class="nav-link">
                                <img src="@item.Image" class="card-img-top rounded-0 mb-3" />

                                <div class="card-body p-0">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">
                                        @item.Artist.Name
                                    </p>
                                </div>
                            </a>
                            <div class="btn-play" id="@item.Id">
                                <button class="play-music-album-btn d-flex justify-content-center align-items-center">
                                    <i class="fas fa-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

<script>
    $(".nav-link").click(function (e) {
        e.preventDefault();
        var url = $(this).attr("href");
        loadPage(url);
    });
</script>