@page
@model MusicLab.Frontend.Pages.SearchModel
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Search";
}
<div class="margin-top"></div>
<div class="main-container">
    <div class="category-all-search row list mb-5">
        <h2 class="title mb-3">Categories All</h2>
        @foreach (var item in Model.ListCategories)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card p-0 mb-2">
                    <a href="" class="position-relative">
                        <img src="@item.Image" class="card-img-top rounded" />
                        <h3 class="position-absolute top-0 start-0 ms-2 mt-2 text-white">@item.Name</h3>
                    </a>
                </div>
            </div>
        }
    </div>


   @* <div class="row list mb-5">

        <div class="col-12 col-md-4 col-lg-3">
            <h2 class="title mb-3">Top Result</h2>
            <div class="card">
                <a href="">
                    <img src="img/artists/bruno-mars.jpg" class="card-img-top rounded-circle w-50 mb-2" />
                </a>
                <div class="card-body p-0 ms-2">
                    <a href="">
                        <h3 class="card-title">Bruono</h3>
                        <p class="card-text">
                            sdfdf
                        </p>
                    </a>
                </div>
                <div class="btn-play">
                    <button class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-play"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <h2 class="title mb-3">Songs</h2>
            <div class="search-song-hover d-flex p-2">
                <a href="" class="search-btnPlay position-relative">
                    <img src="img/artists/bruno-mars.jpg" class="searched-song d-inline my-auto rounded">
                    <div class="search-btnPlay-song position-absolute top-50 start-50 translate-middle">
                        <i class="fa-solid fa-play text-white"></i>
                    </div>
                </a>
                <div class="d-inline-block ms-4 text-white-50">
                    <b class="fs-5 text-white">anme2</b><br />
                    <span>name</span>
                </div>

                <span class="search-favorite ms-auto me-5 align-content-center text-white-50">
                    <i class="search-favorite-song fa-regular fa-heart me-5"></i>
                    1:29
                </span>
            </div>
        </div>
    </div>*@

   @* <div class="d-flex align-items-center mb-3">
        <div>
            <h2 class="title mb-1">Artist recommend</h2>
        </div>
    </div>
    <div class="row list mb-5">
        @foreach (var item in Model.ListRecommendedArtists)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card">
                    <a href="">
                        <img src="@item.Image" class="card-img-top rounded-circle mb-3" />
                    </a>
                    <div class="card-body p-0">
                        <a href="">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Artist</p>
                        </a>
                    </div>

                    <div class="btn-play">
                        <button class="d-flex justify-content-center align-items-center">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2 class="title mb-3">Album</h2>
    <div class="row list mb-5">
        @foreach (var item in Model.ListRecommendedAlbums)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card">
                    <a href="">
                        <img src="@item.Image" class="card-img-top rounded-0 mb-3" />
                    </a>
                    <div class="card-body p-0">
                        <a href="">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @item.Artist.Name
                            </p>
                        </a>
                    </div>

                    <div class="btn-play">
                        <button class="d-flex justify-content-center align-items-center">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>*@

</div>
<script src="~/js/SearchKeyword.js" asp-append-version="true"></script>