@page
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MusicLab.Repository.Models;
@model MusicLab.Frontend.Pages.TopicModel
@{
    Layout = "_LayoutHome";
}
<div class="margin-top"></div>

<div class="main-container">
    @if (!string.IsNullOrEmpty(HttpContext.Session.GetString("User")))
    {
        <h2 class="title mb-3">Recently released</h2>

        <div class="row list mb-5">
            @foreach (var item in Model.ListHistorySongs)
            {
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="@item.Image" class="card-img-top rounded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">
                                    @foreach (var artist in item.SongArtists)
                                    {
                                        if (artist.ArtistId != item.SongArtists.LastOrDefault().ArtistId)
                                        {
                                            artist.Artist.Name += ", ";
                                        }
                                        @artist.Artist.Name
                                    }
                                </p>
                            </a>
                        </div>

                        <div class="btn-play" id="@item.Id">
                            <button class="play-music-btn d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>

        User userLogged = JsonSerializer.Deserialize<User>(HttpContext.Session.GetString("User"));
        <h2 class="title mb-3">
            Song for
            @userLogged.FullName
        </h2>

        <div class="row list mb-5">
            @foreach (var item in Model.ListRecommendedSongs)
            {
                <div class="col-12 col-md-3 col-lg-2">
                    <div class="card">
                        <a href="">
                            <img src="@item.Image" class="card-img-top rounded-0 mb-3" />
                        </a>
                        <div class="card-body p-0">
                            <a href="">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">
                                    @foreach (var artist in item.SongArtists)
                                    {
                                        if (artist.ArtistId != item.SongArtists.LastOrDefault().ArtistId)
                                        {
                                            artist.Artist.Name += ", ";
                                        }
                                        @artist.Artist.Name
                                    }
                                </p>
                            </a>
                        </div>

                        <div class="btn-play" id="@item.Id">
                            <button class="play-music-btn d-flex justify-content-center align-items-center">
                                <i class="fas fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <h2 class="title mb-3">Song Trending</h2>

    <div class="row list mb-5">
        @foreach (var item in Model.ListTrendingSongs)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card">
                    <a href="">
                        <img src="@item.Image" class="card-img-top rouded-0 mb-3" />
                    </a>
                    <div class="card-body p-0">
                        <a href="">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @foreach (var artist in item.SongArtists)
                                {
                                    if (artist.ArtistId != item.SongArtists.LastOrDefault().ArtistId)
                                    {
                                        artist.Artist.Name += ", ";
                                    }
                                    @artist.Artist.Name
                                }
                            </p>
                        </a>
                    </div>

                    <div class="btn-play" id="@item.Id">
                        <button class="play-music-btn d-flex justify-content-center align-items-center">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-flex align-items-center mb-3">
        <div>
            <h2 class="title mb-1">Album</h2>
            <span class="subtitle">Albums recommend today.</span>
        </div>
    </div>

    <div class="row list mb-5">
        @foreach (var item in Model.ListRecommendedAlbums)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card">
                    <a href="">
                        <img src="@item.Image" class="card-img-top rounded-0 mb-3" />
                    </a>
                    <div class="card-body p-0">
                        <a href="">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @item.Artist.Name
                            </p>
                        </a>
                    </div>

                    <div class="btn-play" id="@item.Id">
                        <button class="play-music-album-btn d-flex justify-content-center align-items-center">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-flex align-items-center mb-3">
        <div>
            <h2 class="title mb-1">Artist recommend</h2>
        </div>
    </div>

    <div class="row list mb-5">
        @foreach (var item in Model.ListRecommendedArtists)
        {
            <div class="col-12 col-md-3 col-lg-2">
                <div class="card">
                    <a href="">
                        <img src="@item.Image" class="card-img-top rounded-circle mb-3" />
                    </a>
                    <div class="card-body p-0">
                        <a href="">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Artist</p>
                        </a>
                    </div>

                    <div class="btn-play" id="@item.Id">
                        <button class="play-music-artist-btn d-flex justify-content-center align-items-center">
                            <i class="fas fa-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
